*{
    margin: 0;
    padding: 0;
    border: none;
}
img{
    width: 100%;
    height: 650px;
}

.text-block {
    position: absolute;
    float: right;
    bottom: 400px;
    margin-left: 1050px;
    color: white;
    font-size: 30px;
    width: 40%;
    height: 200px;   
    
  }
  button{
      background:none;
      font-size: 18px;
      color: aqua;
      padding: 10px;
      border: 2px solid white;
      border-radius: 8px;
      
  }
  .text-block1 {
    position: absolute;
    bottom: 40px;
    margin-left: 500px;
    font-size: 30px;
    width: 35%;
    height: 500px; 
    background-color: white;
    border-radius: 8px;  
    
  }
  p{
      padding: 30px;
      border-bottom: 2px solid slategray;
  }
  input{
      border-radius: 10px;
      margin-left: 30px;
      width: 20px;
      margin-bottom:10px ;
      margin-top: 40px;
  }
  .it{
      margin-left: 70px;
      font-size: 17px;
      margin-bottom: 20px;
  }
  button.abc{
      width: 150px;
      height: 50px;
      background-color: blue;
      text-align: center;
      margin-left: 35%;
      margin-top: 30px;
  }