*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #052146;
}
.p1{
    color: #eee;
    margin-left: 400px;
    margin-top: 30px;
}
section{
    width: 35%;
    height: 100px;
    margin-left: 520px;
    margin-top: 0px;
    color: #eee;

}
.p0{
    font-size: 40px;
    margin-left: 120px;
}
section.sec1{
    background-color: aliceblue;
    width: 40%;
    height: 700px;
    border-radius: 25px;
    color: black;

}
.p2{
    color: black;
    padding: 20px;
    font-size: 25px;
    text-align: center;
}
input{
    margin-bottom: 20px;
    padding: 2px;
    
}
label{
    margin-left: 15px
}